version: '3.7'
services:
    quitting-eurorack:
      container_name: quitting-eurorack
      build: .
      networks:
        - caddy
      labels:
        caddy: quitting-eurorack.reges.fr
        caddy.reverse_proxy: "{{upstreams 8043}}"

networks:
  caddy:
    external: true